.settings-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .settings-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #6A0DAD; 
    border: none;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .settings-container button:hover {
    background-color: #4b0a7b;
  }
  