.todo-list-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .todo-title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .task-input {
    margin: 10px 0;
    
  }
  
  .task-input input {
    padding: 10px;
    font-size: 1rem;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .task-input button {
    padding: 10px;
    margin-left: 10px;
    font-size: 1rem;
    background-color: #6A0DAD; /* Royal purple */
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-input button:hover {
    opacity: 0.8;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
    
  }
  
  .task-list li {
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-list li.completed {
    text-decoration: line-through;
    opacity: 0.7;
  }
  